@import "tailwindcss";

body {
  word-break: break-all;
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

@layer utilities {
  .scrollbar-overlay::-webkit-scrollbar {
    width: 12px;
    background-color: #1f1f1f;
  }

  .scrollbar-overlay::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;

    border-radius: 6px;

    border: 4px solid transparent;
    background-clip: padding-box;
  }

  .scrollbar-visible-hover::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
  }

  .scrollbar-overlay {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  .scrollbar-visible-hover {
    scrollbar-color: #696969ad transparent;

  }
}
