@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Thai:wght@100..900&family=Noto+Serif+Thai:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  word-break: break-all;
  background: black;
  color: var(--foreground);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

@layer utilities {
  .scrollbar-overlay::-webkit-scrollbar {
    width: 12px;
    background-color: #1f1f1f;
  }

  .scrollbar-overlay::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;

    border-radius: 6px;

    border: 4px solid transparent;
    background-clip: padding-box;
  }

  .scrollbar-visible-hover::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
  }

  .scrollbar-overlay {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  .scrollbar-visible-hover {
    scrollbar-color: #696969ad transparent;
  }
}
